*{
    margin:0;
    padding:0;
}
.box1{
    width: 100%;
    height: 400px;
    background-color: rgb(3, 130, 241);
    /* display: inline-block; */
    /* float: right; */
    position:sticky;
    top:0px;
    
}
.box1>p{
     padding-top: 180px;
     text-align: center;
     font-size:40px ;   
}
.box2{
    width: 250px;
    height: 1100px;
    background-color: rgb(241, 3, 3);
    display: inline-block;
    /* float: left; */
    
}

.box2-child{
    width: 150px;
    height: 150px;
    background-color: rgb(15, 241, 3);
    display: block;
    /* float: right; */
    
}

