*{
    margin:0;
    padding: 0;
}
.page-wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    padding: 10px;
    height: 50px;
}
p{
    color: aliceblue;
    font-size: 30px;

}

.row{
    display: flex;
    width: 100%;
    max-width: 900px;
}
.column{
    display: flex;
    width: 500px;

}
.column-1{
    display: flex;
    position: left;
}